<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CalculatorTest" verbose="1">
<test name="CalculatorTest">
<classes>
<class name="CalculatorTest_Sum.testSum" />
<class name="CalculatorTest_isPositive.testIsPositive" />
<class name="CalculatorTest_isNegative.testIsNegative" />
</classes>
</test>
</suite>